<!doctype html>
<html lang="en">

<head>
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-control" content="no-store">
    <link href="/assets/main.css" rel="stylesheet" />
    <link href="https://rsms.me/inter/inter.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@1.9.12/dist/htmx.min.js"></script>

    {% block head %}{% endblock %}
</head>

<body id="content" class="bg-gray-900 h-[100vh] w-[100vw]">{% block content %}{% endblock %}</body>

</html>