<div class="flex flex-col w-full gap-y-4">
    <form hx-encoding='multipart/form-data' hx-post='/upload-csv' class="flex items-start gap-x-4 w-full">
        <button
            class="w-32 py-2 rounded-lg bg-indigo-700 font-bold text-white hover:bg-indigo-600 transition-colors shrink-0">
            Upload CSV Files
        </button>
        <div class="w-full">
            <div class="dropzone-container">
                <label for="file-upload" class="absolute inset-0 cursor-pointer z-0"></label>
                <input type='file' name='csv_file' id="file-upload" class="hidden" accept=".csv" multiple>
                <div class="dropzone-placeholder flex items-center justify-center h-full pointer-events-none">
                    <p class="text-gray-400">Drop your CSV files here or click to browse</p>
                </div>
            </div>
            <div class="file-list-container mt-1"></div>
        </div>
    </form>

</div>